.container.second__container {
    width: 87%;
    background: black;
    padding: 1rem;
    padding-bottom: 0.1rem;
    margin-left: 6rem;
}

.second__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    position: absolute;
    bottom: 45rem;

}

.second__container-cards img {
    width: 12rem;
    height: 13rem;
    overflow: hidden;
}

.second__container-cards h3 {
    margin-top: 1rem;
    font-size: 0.8em;
}

.second__container-cards h3 a {
    color: var(--color-white);
}

.second__container-cards small {
    font-size: 0.5rem;
}

.arrow {
    margin-left: 1rem;
    color: var(--color-yel);
    padding-top: 0.3rem;
    font-size: 1rem;
}

@media screen and (max-width: 1280px) {
    .second__container {
        bottom: 70rem;
    }
}

@media screen and (max-width: 1024px) {
    .container.second__container {
        width: 93%;
        margin-left: 2.5rem;
    }

    .second__container {
        bottom: 51rem;
    }

    .second__container-cards {
        margin-left: -2rem;
    }

    .second__container-cards img {
        padding-left: 0;
    }

    .second__container-cards h3 {
        margin-left: 2.1rem;
    }

    .second__container-cards small {
        margin-left: 2.1rem;
    }
}

@media screen and (max-width: 920px) {

    .second__container {
        bottom: 149rem;

    }
}

@media screen and (max-width: 820px) {
    .second__container {
        bottom: 124rem;
    }

    .second__container-cards img {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container.second__container {
        width: 95%;
        margin-left: -0.01rem;
        padding-right: -2rem;
    }

    .second__container {
        bottom: 108rem;
        left: 1rem;
    }

    .second__container-cards {
        margin-left: -1.5rem;
    }

    .second__container-cards img {
        width: 15rem;
        padding-left: 1.5rem;

    }

    .second__container-cards h3 {
        padding-left: 2rem;
    }

    .second__container-cards h3 a {
        font-size: 0.7rem;
    }

    .second__container-cards small {
        padding-left: 2rem;
    }

    .arrow {
        padding-top: 0.5rem;
    }

}

@media screen and (max-width: 600px) {
    .container.second__container {
        width: 95%;

    }

    .second__container {
        bottom: 70rem;
        right: -0.7rem;

        width: 100%;
    }

    .second__container-cards img {
        width: 10rem;
        height: 8rem;
    }
}

@media screen and (max-width: 540px) {
    .container.second__container {
        width: 93%;
        margin-left: 0.3rem;
    }

    .second__container-cards {
        margin-left: -3.5rem;
    }

    .second__container-cards img {
        width: 17rem;
        height: 10rem;
        padding-left: 3rem;

    }

    .second__container-cards h3 {
        margin-left: 1rem;

    }

    .second__container-cards small {
        margin-left: 1rem;
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .second__container {
        bottom: 50rem;
    }

    .second__container-cards img {
        width: 10rem;
        height: 11rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 420px) {
    .container.second__container {
        width: 90%;
    }

    .second__container {
        bottom: 90rem;

    }

    .second__container-cards {
        margin-left: -4rem;
    }

    .second__container-cards img {
        width: 16rem;
        height: 12rem;
        padding-right: 3rem;
    }

    .second__container-cards h3 {
        margin-left: 2rem;
    }

    .second__container-cards small {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 412px) {
    .second__container {
        bottom: 95rem;
    }
}

@media screen and (max-width: 400px) {
    .container.second__container {
        width: 90%;
    }

    .second__container {
        bottom: 86rem;
        gap: 2rem;
    }

    .second__container-cards {
        margin-left: -4.01rem;
    }

    .second__container-cards img {
        width: 26rem;
        height: 14rem;
        padding-left: 4rem;
    }

    .second__container-cards h3 {
        margin-left: 2.3rem;
    }


    .second__container-cards small {
        margin-left: 2.3rem;
    }
}


@media screen and (max-width: 375px) {
    .second__container {
        bottom: 64rem;
    }
}

@media screen and (max-width: 360px) {
    .container.second__container {
        margin-left: 0;
    }

    .second__container {
        bottom: 74rem;
    }
}

@media screen and (max-height: 640px) {
    .second__container {
        bottom: 63rem;
    }
}

@media screen and (max-height: 630px) {
    .second__container {
        bottom: 60rem;
    }
}


@media screen and (max-width: 320px) {
    .container.second__container {
        width: 93%;
        margin-left: -0.3rem;
    }

    .second__container {
        bottom: 54rem;
    }


}